html,
body {
	height: 100%;
}

.player-container {
	padding-bottom: 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.titlebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.titlebar p {
	font-size: 14px;
}

.music-cover {
	margin-top: 20px;
	width: 100%;
	max-height: 450px;
	object-fit: cover;
}
.music-info {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.music-title {
	font-size: 22px;
	font-weight: 700;
}
.music-artist {
	color: #bbbbba;
	font-size: 15px;
	margin-top: 8px;
}
.like-btn {
	border: none;
	outline: none;
	background: transparent;
}
.music-slider {
	margin-top: 20px;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	height: 6px;
	background: #474747;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;

	height: 17px;
	width: 17px;
	background-color: #fff;
	border-radius: 50%;
	border: none;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: none;
}

.music-slider__time {
	display: flex;
	justify-content: space-between;
	color: #bababa;
	font-size: 11px;
	margin-top: 6px;
}
.music-control {
	/* margin-top: 40px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.music-control--sm {
	width: 25px;
}
.music-control__btn {
	position: relative;
}
.music-control__btn::after {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: #57b560;
	bottom: -10px;
	right: 16px;
}
.music-control__pause {
	width: 63px;
	height: 63px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.music-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* margin-top: 50px; */
}
.music-footer img {
	width: 18px;
}
