h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

button {
	border: none;
	outline: none;
	background: transparent;
	color: white;
}

input:focus {
	outline: none;
}
